/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

# ignore generate css and javascript in public directory
/public/js/*.js
/public/css/*.css

#ignore generate json files
/public/mix-manifest.json
package-lock.json

composer.lock
